/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* ここからCSSを記述してください */
body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  margin: 20px 40px;

}

.header-list li {
  float: left;
  margin: 33px 20px;
}

.copy-container {
  margin-top: 100px;
  margin-right: 80px;
  margin-left: 80px;
}

.copy-container h1 {
  font-size: 140px;
}

.copy-container h2 {
  font-size: 60px;
}

.copy-container span {
  color: #ff4a4a;
}

.main {
  margin-top: 100px;
}

.main h3 {
  font-size: 28px;
}

.contents-item {
  margin-top: 50px;
  float: left
  width: 25%;
}

.course li {
  margin-top: 30px;
  float: left;
  width: 25%;
  font-size: 24px;
}
